<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = *接口* 的全限定符 -->
<mapper namespace="com.hxl.mapper.DishFlavorMapper">

    <!-- 批量插入菜品口味信息表 -->
    <insert id="insertDishFlavorBatch">
        insert into dish_flavor (dish_id, name, value)
            values
                <foreach collection="flavors" separator="," item="f">
                    (#{f.dishId}, #{f.name}, #{f.value})
                </foreach>
    </insert>

    <!-- 根据菜品id查询 口味信息 -->
    <select id="queryFlavorByDishId" resultType="com.hxl.entity.DishFlavor">
        select * from dish_flavor
            where dish_id = #{dishId}
    </select>

    <!-- 批量删除菜品口味信息 -->
    <delete id="deleteFlavorBatchByDishId">
        delete from dish_flavor where dish_id in
            <foreach collection="ids" open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
    </delete>
</mapper>
