<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = *接口* 的全限定符 -->
<mapper namespace="com.hxl.mapper.EmployeeMapper">

    <!-- 动态查询员工信息 只有两个属性唯一 -->
    <select id="dynamicQuerySingleEmployee" resultType="com.hxl.entity.Employee">
        select id, name, username, password, phone, sex, id_number, status, create_time, update_time, create_user,
        update_user from employee
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
        </where>
    </select>

    <!-- 新增员工 -->
    <insert id="insertEmployee">
        insert into employee (id, name, username, password, phone, sex, id_number, status, create_time, update_time,
                              create_user, update_user)
        VALUES (#{id}, #{name}, #{username}, #{password}, #{phone}, #{sex}, #{idNumber}, #{status}, #{createTime},
                #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <!-- 分页 动态查询 员工信息 -->
    <select id="employeeDynamicPage" resultType="com.hxl.vo.EmployeePageVO">
        select * from employee
            <where>
                <if test="name != null">
                    and name like concat('%', #{name}, '%') <!-- 模糊匹配 -->
                </if>
            </where>
                order by create_time desc  <!-- 根据创建时间降序 -->
    </select>

    <!-- 通用的update方法 动态修改employee表里的字段值-->
    <update id="updateEmployeeInfo">
        update employee
        <set>
            <if test=" name != null">
                , name = #{name}
            </if>
            <if test=" username != null">
                , username = #{username}
            </if>
            <if test=" password != null">
                , password = #{password}
            </if>
            <if test=" phone != null">
                , phone = #{phone}
            </if>
            <if test=" sex != null">
                , sex = #{sex}
            </if>
            <if test=" idNumber != null">
                , id_number = #{idNumber}
            </if>
            <if test=" updateTime != null">
                , update_time = #{updateTime}
            </if>
            <if test=" updateUser != null">
                , update_user = #{updateUser}
            </if>
            <if test=" status != null">
                , status = #{status}
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
