<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = *接口* 的全限定符 -->
<mapper namespace="com.hxl.mapper.SetMealMapper">

    <!-- 新增套餐的方法 -->
    <insert id="insertSetMeal" useGeneratedKeys="true" keyProperty="id">
        insert into set_meal (category_id, name, price, status, description, image, create_time, update_time, create_user, update_user)
            values (#{categoryId}, #{name}, #{price}, #{status}, #{description}, #{image}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <!-- 套餐分页查询 需要多表联查 -->
    <select id="setMealPage" resultType="com.hxl.vo.SetMealPageVO">
        select s.id, s.category_id, s.name, s.price, s.status, s.description, s.image, s.update_time, c.name categoryName
            from set_meal s left join category c
                on s.category_id = c.id
                    <where>
                        <if test="categoryId != null">
                            and s.categoryId = #{categoryId}
                        </if>
                        <if test="name != null">
                            and s.name like concat('%', #{name}, '%')
                        </if>
                        <if test="status != null">
                            and s.status = #{status}
                        </if>
                    </where>
                        order by price
    </select>
</mapper>