<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace = *接口* 的全限定符 -->
<mapper namespace="com.hxl.mapper.SetMealDishMapper">
    <!-- 批量查询菜品所绑定的套餐数量 -->
    <select id="getSetMealBindDishAmountBatch" resultType="java.lang.Integer">
        select count(*) from set_meal_dish
            where dish_id in
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
    </select>

    <!-- 批量插入套餐菜品关联信息 -->
    <insert id="insertSetMealDish">
        insert into set_meal_dish (setmeal_id, dish_id, name, price, copies)
            values
                <foreach collection="setMealDishes" item="sd" separator=",">
                    (#{sd.setmealId}, #{sd.dishId}, #{sd.name}, #{sd.price}, #{sd.copies})
                </foreach>
    </insert>

    <!-- 批量删除套餐的方法 -->
    <delete id="deleteSetMealDishBySetMealId">
        delete from set_meal_dish where setmeal_id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </delete>
</mapper>
